<!DOCTYPE html>
<html lang="en">
<head>
	<!--This HTML file will serve as the landing page to Foliage-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foliage</title>
	<link rel="stylesheet" href="public/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar" id="navbar">
		<ul class="navigation">
			<li id="Logo"><a href="#hero">Foliage</a></li>
			<li><a href="#features">Features</a></li>
			<li><a href="#about">Testimonials</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><button id="navSignIn">Sign In</button></li>
		</ul>
	</nav>
	<section class="hero" id="hero">
	<h1>Turn your garden into a smart oasis</h1>
	<h2>Foliage helps you log progress, set custom reminders, and chat with an AI assistant or other plant enthusiasts for effortless plant care.</h2>
	<button id="signUp">Get Started</button>
	<button id="signIn">Sign In</button>
	</section>

	<section class="featuresBenefits" id="featuresBenefits">

		<h3>Log and view upcoming care activities</h3>
		<p>Easily see the daily schedule and recent activities for your plants.</p>

		<h3>Set reminders for a multitude of care activities</h3>
		<p>Never forget to water, fertilize, mist, repot, prune, or harvest your plants again with custom reminders.</p>

		<h3>Chat with FoliageAI or the Community</h3>
		<p>Get instant answers to your plant care questions from FoliageAI or chat with other plant enthusiasts in the community</p>
	</section>

	<section class="testimonials" id="testimonials">
		<h3>Testimonials</h3>
		<p>"I love Foliage! It's so easy to use and has helped me keep my plants alive and thriving!" - Jane Doe</p>
		<p>"I've never been good at keeping plants alive, but Foliage has made it so easy for me to care for my plants!" - John Smith</p>
		<p>"I love the community aspect of Foliage. I've met so many other plant enthusiasts and have learned so much from them!" - Jane Smith</p>
	</section>

	<section class="FAQ" id="FAQ">
		<h2>Frequently Asked Questions</h2>
		<h3>General Questions</h3>
		<div class="faq-item">
			<div class="faq-question"><h4>What is Foliage?</h4></div>
			<div class="faq-answer"><p>Foliage is a plant care app to log care activities, set reminders, ask FoliageAI for help, and have a community to support your questions. We also provide unique features such as providing plant health analytics, weather or location integration, and explaining eco-friendly practices.</p></div>
		</div>

		<div class="faq-item">
			<div class="faq-question"><h4>How do I sign up?</h4></div>
			<div class="faq-answer"><p>Click the Sign Up button at the top of the page and fill out the form with your information. You will receive an email to verify your account and then you can start using Foliage!</p></div>
		</div>

		<div class="faq-item">
			<div class="faq-question"><h4>Is Foliage free?</h4></div>
			<div class="faq-answer"><p>Yes! The website is completely free.</p></div>
		</div>

		<h3>Account and Profile</h3>
		<div class="faq-item">
			<div class="faq-question"><h4>How do I change my password?</h4></div>
			<div class="faq-answer"><p>Click on your profile icon in the top right corner of the screen and select Change Password. You will be prompted to enter your current password and then your new password.</p></div>
		</div>
		<div class="faq-item">
			<div class="faq-question"><h4>How do I delete my account?</h4></div>
			<div class="faq-answer"><p>Click on your profile icon in the top right corner of the screen and select Delete Account. You will be prompted to enter your password and then confirm the deletion of your account.</p></div>
		</div>

		<h3>Using Foliage</h3>
		<div class="faq-item">
			<div class="faq-question"><h4>How do I log a care activity?</h4></div>
			<div class="faq-answer"><p>You can either click on the Quick Log button on the bottom right corner or click on the Log Activity button on the plant's profile page and select the care activity you want to log. You can add notes, photos, and the date and time of the activity.</p></div>
		</div>
		<div class="faq-item">
			<div class="faq-question"><h4>What can I set a reminder for?</h4></div>
			<div class="faq-answer"><p>You can set reminders for watering, repotting, fertilizing, misting, sowing, harvesting, blooming, applying pesticides, pruning, and caring if the plant is sick. You can also set your own custom reminder.</p></div>
		</div>

		<h3>Technical and Troubleshooting</h3>
		<div class="faq-item">
			<div class="faq-question"><h4>How do I contact support?</h4></div>
			<div class="faq-answer"><p>Click on the Contact button at the top of the page and fill out the form with your information and issue. We will get back to you as soon as possible.</p></div>
		</div>

		<div class="faq-item">
			<div class="faq-question"><h4>Why is my plant not showing up in the search results?</h4></div>
			<div class="faq-answer"><p>Make sure you are spelling the plant's name correctly and that the plant is in our database. If you are still having trouble, contact support.</p></div>
		</div>
	</section>
</body>
</html>