<!DOCTYPE html>
<html lang="en">
<head>
	<!--This HTML file will serve as the landing page to Foliage-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foliage</title>
	<link rel="stylesheet" href="public/css/style.css">
</head>
<body>
	<nav class="navbar" id="navbar">
		<ul class="navigation">
			<li><a href="#features">Features</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><button id="navSignIn">Sign In</button></li>
		</ul>
	</nav>
	<section class="hero" id="hero">
	<h1>Turn your garden into a smart oasis</h1>
	<h2>Foliage helps you log progress, set custom reminders, and chat with an AI assistant for effortless plant care.</h2>
	<button id="signUp">Sign Up</button>
	<button id="signIn">Sign In</button>
	</section>
</body>
</html>