html, body {
	height: 100%;
	width: 100%;
	background-color: #3C553C;
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}



#logo {
	color: #D8D581;
	font-family: "Krona One";
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	flex-shrink: 0;
}